<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Danh Sách Phiếu Thu</h1>
  
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Trang Chủ</a></li>
              <li class="breadcrumb-item active">Phiếu Thu</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Danh Sách Phiếu Thu</h3>
                <input class="form-control form-control-navbar" type="search" placeholder="Tìm Phiếu Thu"
                  aria-label="Search">
                <button style="margin-top: 10px;">Tìm Kiếm</button>
              </div>
  
  
              <!-- /.card-header -->
              <div class="card-body">
                <button style="margin-left: 1430px; margin-bottom: 30px;" type="button" class="btn btn-primary"
                  (click)="showAdd()">
                  Thêm Mới
                </button>
  
                <!--modal-->
                <div bsModal #addAndEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog"
                  aria-labelledby="dialog-sizes-name1">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                      
                        <button type="button" class="close pull-right" (click)="addAndEdit.hide()" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form class="form-horizontal" #formPoi="ngForm" (ngSubmit)="save(formPoi.value)"
                        *ngIf="entity">
                        <div class="form-group">
                          <label for="receiptId">Mã Phiếu Thu:</label>
                          <input type="hidden" class="form-control" name="hidenID" placeholder="Nhập mã phiếu thu"
                            [(ngModel)]="hidenID">
                          <input type="text" class="form-control" name="receiptId" placeholder="Nhập mã phiếu thu"
                            [(ngModel)]="entity.receiptId">
                        </div>
                        <div class="form-group">
                            <label for="receiptName">Tên phiếu thu:</label>
                            <input type="text" class="form-control" name="receiptName" placeholder="Nhập tên phiếu thu"
                              [(ngModel)]="entity.receiptName">
                          </div>
                        <div class="form-group">
                          <label for="studentsId">Mã sinh viên:</label>
                          <input type="text" class="form-control" name="studentsId" placeholder="Nhập mã sinh viên "
                            [(ngModel)]="entity.studentsId">
                        </div>
                        <div class="form-group">
                          <label for="subjectsId">Mã môn học:</label>
                          <input type="text" class="form-control" name="subjectsId" placeholder="Nhập mã môn học"
                            [(ngModel)]="entity.subjectsId">
                        </div>
                        <div class="form-group">
                          <label for="facultyId">Mã khoa:</label>
                          <input type="text" class="form-control" name="facultyId" placeholder="Nhập mã khoa"
                            [(ngModel)]="entity.facultyId">
                        </div>
                        <div class="form-group">
                          <label for="paymentAmount">Số tiền:</label>
                          <input type="number" class="form-control" name="paymentAmount" placeholder="Nhập số tiền"
                            [(ngModel)]="entity.paymentAmount">
                        </div>
                        <div class="form-group">
                          <label for="paymentReason">Lý do nộp:</label>
                          <input type="text" class="form-control" name="paymentReason" placeholder="Nhập lý do nộp"
                            [(ngModel)]="entity.paymentReason">
                        </div>
                        <div class="form-group">
                            <label for="payer">Người nộp:</label>
                            <input type="text" class="form-control" name="payer" placeholder="Nhập tên người nộp"
                              [(ngModel)]="entity.payer">
                          </div>
                        <div class="form-group">
                          <label for="moneyReceiver">Người thu:</label>
                          <input type="text" class="form-control" name="moneyReceiver" placeholder="Nhập tên người thu"
                            [(ngModel)]="entity.moneyReceiver">
                        </div>
                        <div class="form-group">
                            <label for="creatorName">Người tạo:</label>
                            <input type="text" class="form-control" name="creatorName" placeholder="Nhập tên người tạo"
                              [(ngModel)]="entity.creatorName">
                          </div>
                          <div class="form-group">
                            <label for="classId">Mã lớp:</label>
                            <input type="text" class="form-control" name="classId" placeholder="Nhập mã lớp"
                              [(ngModel)]="entity.classId">
                          </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!--end modal-->
              </div>
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Mã PT</th>
                    <th>Tên PT</th>
                    <th>Mã SV</th>
                    <th>Mã Môn Học</th>
                    <th>Mã Khoa</th>
                    <th>Số Tiền</th>
                    <th>Lý Do</th>
                    <th>Người Thanh Toán</th>
                    <th>Người Thu</th>
                    <th>Người Tạo</th>
                    <th>Mã Lớp</th>
                    <th>Chức Năng</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor = "let con of pth">
                    <td>{{con.receiptId}}</td>
                    <td>{{con.receiptName}}</td>
                    <td>{{con.studentsId}}</td>
                    <td>{{con.subjectsId}}</td>
                    <td>{{con.facultyId}}</td>
                    <td>{{con.paymentAmount}}</td>
                    <td>{{con.paymentReason}}</td>
                    <td>{{con.payer}}</td>
                    <td>{{con.moneyReceiver}}</td>
                    <td>{{con.creatorName}}</td>
                    <td>{{con.classId}}</td>
  
                    <td>
                      <button class="fa fa-check" aria-hidden="true"></button>
                      <button style="margin-left: 10px;" class="fa fa-edit" aria-hidden="true"
                        (click)="showEdit(con.receiptId)"></button>
                      <button style="margin-left: 10px;" class="fa fa-trash" aria-hidden="true"
                        (click)="deleteItem(con.receiptId)"></button>
                    </td>
                  </tr>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
  
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  
  <!--model-->