<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Danh Sách Lớp Học Lại</h1>

          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Trang Chủ</a></li>
              <li class="breadcrumb-item active">Lớp Học Lại</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Danh Sách Lớp Học Lại</h3>
                <input class="form-control form-control-navbar" type="search" placeholder="Tìm Lớp Học Lại" aria-label="Search">
              </div>

              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                    <div class="card-body">
                     <button style="float: right;" class="fa fa-plus" aria-hidden="true"></button></div>
                  <tr>
                    <th>Mã Lớp</th>
                    <th>Tên Lớp</th>
                    <th>Mã Khoa</th>
                    <th>Mã Môn Học</th>
                    <th>Mã Giáo Viên</th>
                    <th>Ngày Bắt Đầu</th>
                    <th>Ngày Kết Thúc</th>
                    <th>Chức Năng</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>101111</td>
                    <td>HL Kỹ Năng Mềm</td>
                    <td>101171</td>
                    <td>811111</td>
                    <td>411111</td>
                    <td>2020/02/07</td>
                    <td>2020/05/07</td>
                    <td>
                      <button class="fa fa-check" aria-hidden="true"></button>
                      <button class="fa fa-trash" aria-hidden="true"></button>
                    </td>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->