<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Danh Sách Điểm Học Lại</h1>

        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Trang Chủ</a></li>
            <li class="breadcrumb-item active">Điểm Học Lại</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Danh Sách Điểm Học Lại</h3>
              <input class="form-control form-control-navbar" type="search" placeholder="Tìm Điểm Học Lại" aria-label="Search">
              <button style="margin-top: 10px;">Tìm Kiếm</button>
            </div>
            

            <!-- /.card-header -->
            <div class="card-body">
                             <!-- Button trigger modal -->
<button style="margin-left: 1430px; margin-bottom: 30px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Thêm Mới
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"  id="exampleModalLabel">Thêm Điểm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="col-md-6 mb-6">
              <label for="validationServer01">Mã Điểm</label>
              <input type="text" class="form-control" id="1" placeholder="ScoresId" value="Nhập Tên" required>
            </div>
            <div class="col-md-6 mb-6">
              <label for="validationServer02">Mã SV</label>
              <input type="text" class="form-control" id="2" placeholder="StudentsId" value="Nhập Điểm" required>
            </div>
            <div class="col-md-6 mb-6">
              <label for="validationServer01">Tên SV</label>
              <input type="text" class="form-control" id="3" placeholder="StudentsName" value="Nhập Tên" required>
            </div>
            <div class="col-md-6 mb-6">
              <label for="validationServer02">Mã Lớp</label>
              <input type="text" class="form-control" id="4" placeholder="ClassId" value="Nhập Điểm" required>
            </div>
            <div class="col-md-6 mb-6">
              <label for="validationServer01">Tên Lớp</label>
              <input type="text" class="form-control" id="5" placeholder="ClassName" value="Nhập Tên" required>
            </div>
            <div class="col-md-6 mb-6">
              <label for="validationServer02">Mã Khoa</label>
              <input type="text" class="form-control" id="6" placeholder="FacultyId" value="Nhập Điểm" required>
            </div>
            <div class="col-md-6 mb-6">
              <label for="validationServer01">Mã Giảng Viên</label>
              <input type="text" class="form-control" id="7" placeholder="LeturersId" value="Nhập Tên" required>
            </div>
            <div class="col-md-6 mb-6">
              <label for="validationServer02">Điểm Lần 1</label>
              <input type="text" class="form-control" id="8" placeholder="FristPoint" value="Nhập Điểm" required>
            </div>
            <div class="col-md-6 mb-6">
              <label for="validationServer01">Điểm Lần 2</label>
              <input type="text" class="form-control" id="9" placeholder="SecondPoint" value="Nhập Tên" required>
            </div>
            <div class="col-md-6 mb-6">
              <label for="validationServer01">Trạng Thái</label>
              <input type="text" class="form-control" id="10" placeholder="Status" value="Nhập Tên" required>
            </div>
            <div class="col-md-6 mb-6">
              <label for="validationServer01">Ghi Chú</label>
              <input type="text" class="form-control" id="11" placeholder="Note" value="Nhập Tên" required>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary">Lưu</button>
      </div>
    </div>
  </div>
</div>
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Mã Điểm</th>
                  <th>Mã SV</th>
                  <th>Tên SV</th>
                  <th>Mã Lớp</th>
                  <th>Tên Lớp</th>
                  <th>Mã Khoa</th>
                  <th>Mã Giảng Viên</th>
                  <th>Điểm Lần 1</th>
                  <th>Điểm Lần 2</th>
                  <th>Trạng Thái</th>
                  <th>Ghi Chú</th>
                  <th>Chức Năng</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor = "let ryn of diem">
                  <td>{{ryn.scoresId}}</td>
                  <td>{{ryn.studentsId}}</td>
                  <td>{{ryn.studentsName}}</td>
                  <td>{{ryn.classId}}</td>
                  <td>{{ryn.className}}</td>
                  <td>{{ryn.facultyId}}</td>
                  <td>{{ryn.leturersId}}</td>
                  <td>{{ryn.fristPoint}}</td>
                  <td>{{ryn.secondPoint}}</td>
                  <td>{{ryn.status}}</td>
                  <td>{{ryn.note}}</td>
                 
                  <td>
                    
                    <button style="margin-left: 10px;" class="fa fa-edit"  aria-hidden="true"></button>
                    <button style="margin-left: 10px;" class="fa fa-trash" aria-hidden="true"></button>
                  </td>
                </tr>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
